@(series: List[Serie])

<!DOCTYPE html>

<html>
<head lang="pt">
	<meta charset="utf-8">
    <title>Metas semanais</title>
    <link rel="stylesheet" media="screen" href="@routes.Assets.at("stylesheets/bootstrap.min.css")">
    <link rel="stylesheet" media="screen" href="@routes.Assets.at("stylesheets/main.css")">
    <link rel="shortcut icon" type="image/png" href="@routes.Assets.at("images/favicon.png")">
    <script src="https://code.jquery.com/jquery-2.1.1.min.js")"></script>        
    <script src="@routes.Assets.at("javascripts/bootstrap.min.js")"></script>        
    <script src="@routes.Assets.at("javascripts/hello.js")"></script>        
</head>
<body>
	@for(serie <- series){
		Serie: @serie.getNome() <br>
		@for(temporada <- serie.getTemporadas()){
			Temporada: @temporada.getNumero() <br>
			@for(ep <- temporada.getEpisodios()){
				Ep @ep.getNumero() - @ep.getNome() <br>
			}	
		}
		<br>
	}






</body>
</html>